//- includes/footer.jade
footer.footer
	.container
		.row
			.col-xs-12.col-sm-8
				.footer-links.clearfix
					.col
						ul
							li
								a(href='') О банке
							li
								a(href='') Пресс-центр
							li
								a(href='') Новости
							li
								a(href='') Аналитика
					.col
						ul
							li
								a(href='') Карьера в банке
							li
								a(href='') Финансовым организациям
							li
								a(href='') Инвесторам
							li
								a(href='') Контактная информация

			.col-xs-12.col-sm-4
				.socials
					.title Локо-банк в соцсетях
					ul
						li
							a(href='')
								span.icon-facebook
						li
							a(href='')
								span.icon-youtube
						li
							a(href='')
								span.icon-vk

				.mobile-app
					.title Мобильное приложение
					ul
						li
							a(href='')
								span.icon-appstore
						li
							a(href='')
								//span.icon-googleplay
								img(src='images/googleplay.svg', width='117', height='40')

				.created-by
					.title Разработано в Aero
					a(href='', title='Aero')
						span.icon-logo_aero

			.footer-row
				.copyright
					p &copy; 2014, КБ "ЛОКО-Банк" (ЗАО)
					p Лицензия Банка России №2707
					p Информация о процентных ставках по договорам<br/>банковского вклада с физическими лицами

				.financial-reports
					a(href='')
						span.icon-info
						span Раскрытие информации<br/> и фин. отчётность
