//- templates/head.jade
block page-title
	title locko bank
meta(charset='utf-8')
meta(name='keywords', content='...')
meta(name='description', content='...')
meta(name='viewport', content='width=device-width, initial-scale=1')
<!--[if IE ]>
meta(http-equiv='imagetoolbar', content='no')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
<![endif]-->
link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')

link(href='css/bootstrap.min.css', rel='stylesheet')
link(rel='stylesheet', href='css/lockobank-theme.min.css')

<!--[if lt IE 9]>
link(rel='stylesheet', href='css/lockobank-theme-ie8.min.css')
script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
<![endif]-->