#send-popup.modal.fade.send-popup
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
				h4.modal-title Рассказать друзьям
			.clearfix
				a.send-social.vk(href="")
					span.ico-holder
						span.icon-vk
					span.send-number
						span 12 092
				a.send-social.fb(href="")
					span.ico-holder
						span.icon-facebook
					span.send-number
						span 1 687
				
				
