//- index.jade
extends ./templates/layout.jade
block page-title
	title О банке

block header_row2
	.header-row2
		.call-us
			ul
				li.call-us__phone
					a(href='tel:+78002505050') 8 800 250 50 50
				li.call-us__back
					a(href='') Обратный звонок
		.bank-contacts
			ul
				li
					a(href='') Отделения и банкоматы
				li О банке

block content
	.main
		.container
			.row
				.col-xs-12.col-sm-8
					ol.breadcrumb
						li
							a(href="#") Главная
						li.active О банке

					article
						h1 О банке
						p
							|Локо-Банк – это коммерческий банк, основанный в 1994 году. В состав акционеров Банка входят финансовые институты: Международная финансовая корпорация <strong>(IFC)</strong> и шведский инвестиционный фонд <strong>East Capital</strong>. По состоянию на 1 января 2014 года банк входит в <strong>ТОП-100 банков России</strong>
							|(70 место по размеру активов и 63 – по чистой прибыли). По итогам 2013 года активы банка увеличились на 11%, достигнув 79,7 млрд. рублей. Чистая прибыль выросла на 17% и составила 1,5 млрд. рублей, капитал Банка составил 10,4 млрд. рублей, увеличившись на 24%.
						p
							|Локо-Банк входит в число крупнейших банков России <strong>по кредитованию МСБ</strong>
							|(6 место в рейтинге «ЭКСПЕРТ РА»), занимает 13 место в рейтинге самых крупных <strong>автокредитных банков</strong> России. Надежность банка подтверждена
							|на международном уровне такими агентствами как Moody's Investors Service
							|и Fitch Ratings. По состоянию на 1 октября 2013 года банк занимает 13 позицию в рейтинге <strong>самых надежных банков</strong> России. Более 10 лет банк является членом системы страхования вкладов.
						p Основными направлениями бизнеса Банка является кредитование предприятий малого и среднего бизнеса, а также розничное направление. Банк обладает развитой сетью филиалов, которая включает <strong>более 60 офисов в 21 регионе России</strong>. Клиентами банка являются свыше <strong>95 000 физических лиц</strong>, а также 23 000 предприятий, которые представляют десятки отраслей российской экономики.

				.col-xs-12.col-sm-4.sidebar#sidebar
					.list-group
						li.list-group-item
							a(href='') Новости
						li.list-group-item
							a(href='') Банк в СМИ
						li.list-group-item
							a(href='') Контакты для СМИ
						li.list-group-item
							a(href='') История банка
						li.list-group-item
							a(href='') Учредители
						li.list-group-item
							a(href='') Реквизиты
						li.list-group-item
							a(href='') Рейтинги
						li.list-group-item
							a(href='') Раскрытие информации
						li.list-group-item
							a(href='') Надёжность банка
						li.list-group-item
							a(href='') Документы и материалы для скачивания
					.list-group_shadow
						span

			.send-cv
				h2 Откройте успешную карьеру вместе с нами!
				a.btn.btn-default(href='') Отправить свое резюме