//- index.jade
extends ./templates/layout.jade
block page-title
	title Надёжность – залог успеха!

block header_row2
	.header-row2
		.call-us
			ul
				li.call-us__phone
					a(href='tel:+78002505050') 8 800 250 50 50
				li.call-us__back
					a(href='') Обратный звонок
		.bank-contacts
			ul
				li
					a(href='') Отделения и банкоматы
				li О банке

block content
	.main
		.container
			.row
				.col-xs-12.col-sm-8
					ol.breadcrumb
						li
							a(href="#") Главная
						li.active Надёжность банка

					article
						h1 Надёжность – залог успеха!
						ul.listing
							li 
								strong 20 лет 
								|стабильной работы на финансовом рынке 
							li Около 
								strong 60 офисов в 21 регионе 
								|по всей России
							li Полный спектр услуг для частных и юридических лиц
							li 
								strong 13 место 
								|в числе самых надёжных банков

				.col-xs-12.col-sm-4.sidebar#sidebar
					.list-group
						li.list-group-item
							a(href='') Новости
						li.list-group-item
							a(href='') Банк в СМИ
						li.list-group-item
							a(href='') Контакты для СМИ
						li.list-group-item
							a(href='') История банка
						li.list-group-item
							a(href='') Учредители
						li.list-group-item
							a(href='') Реквизиты
						li.list-group-item
							a(href='') Рейтинги
						li.list-group-item
							a(href='') Раскрытие информации
						li.list-group-item.active
							a(href='') Надёжность банка
						li.list-group-item
							a(href='') Документы и материалы для скачивания
					.list-group_shadow
						span
		.container
			.row
				.col-xs-12
					.feedback-holder
						h2 Отзывы наших клиентов
						.feedback-block
							p «Мы работаем с ЛОКО-Банком с 2009 года. ЛОКО-Банк был выбран нами не только за привлекательность его услуг, но и за особый индивидуальный подход к работе с клиентами, что создает благоприятную атмосферу и комфортные условия работы. Мы очень довольны компетенцией и профессионализмом персонала Банка. Хочу выразить нашу искреннюю благодарность и надеюсь на продолжение сотрудничества, на благо наших общих интересов».
							.cite 
								span Черкасов С. В.
								span Генеральный директор
								span ООО «СК Паритет – МК», г. Москва
								span Декабрь 2013 г.
						.feedback-block
							p «Мы работаем с ЛОКО-Банком с 2009 года. ЛОКО-Банк был выбран нами не только за привлекательность его услуг, но и за особый индивидуальный подход к работе с клиентами, что создает благоприятную атмосферу и комфортные условия работы. Мы очень довольны компетенцией и профессионализмом персонала Банка. Хочу выразить нашу искреннюю благодарность и надеюсь на продолжение сотрудничества, на благо наших общих интересов».
							.cite 
								span Черкасов С. В.
								span Генеральный директор
								span ООО «СК Паритет – МК», г. Москва
								span Декабрь 2013 г.
						.feedback-block
							p «Мы работаем с ЛОКО-Банком с 2009 года. ЛОКО-Банк был выбран нами не только за привлекательность его услуг, но и за особый индивидуальный подход к работе с клиентами, что создает благоприятную атмосферу и комфортные условия работы. Мы очень довольны компетенцией и профессионализмом персонала Банка. Хочу выразить нашу искреннюю благодарность и надеюсь на продолжение сотрудничества, на благо наших общих интересов».
							.cite 
								span Черкасов С. В.
								span Генеральный директор
								span ООО «СК Паритет – МК», г. Москва
								span Декабрь 2013 г.
						.load-more
							a(href="")
								span Загрузить еще
								span.icon-reload
